.cartContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px auto;
  
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    /* width: auto; */
    background-color: transparent;
    /* text-align: center; */
  
    position: fixed;
    top: 15%;
    left: 30%;
    width: 40%;
    z-index: 11;
  }

  .OrderSubmitButton{
  align-self: center;
  font-size: large;
  width: 55%;
  height: 7vh;
  flex-grow: 4;
  border-radius: 5vw;
  color: white;
  background-color: darkmagenta;
  border-color: sienna;
  /* background-color: darkgreen; */
  }