.HeaderContainer{
    display: grid;
    grid-template-columns: 700px;
    grid-template-columns: auto;
    flex-direction: row;
    background-color: palevioletred;
    color: cornsilk;
}

.HeaderTitle{
    width:10000px;
    background-color: brown;
}

@media (max-width: 600px){
    .HeaderTitle{
        font-size: 5.5vw;
    }
}

.HeaderImage {
    /* align-items: flex-end;
    justify-self: flex-end; */
    width: 100%;
    height: 20vh;

}